.App {
  text-align: center;
}

#header {
  background-color: blue;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 20px; 
}

body {
  background-image: url("./images/background.jpg");
}

#cute {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-gap: 5%;
 margin: 10%;
}

img {
  width: 100%;
}